.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  justify-self: start;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
} 

.header__address {
  max-width: 240px;
  justify-self: end;
}

.header__link {
  font-size: 18px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
}

.address a {
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 60%);
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
} 

.cover__title-item {
  display: block;
}

.cover__title-item_left {
  align-self: flex-start;
}

.cover__title-item_center {
  align-self: center;
}

.cover__title-item_right {
  align-self: flex-end;
  margin-right: -20px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 596px;
  padding: 48px 40px;

  background-position: center;
  background-size: cover;
}

.card__link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}    

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 60%);
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
}

.card__title {
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;

  font-size: 20px;

  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;

  margin: 0 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 240px;

  margin: 35px auto 0;

  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 136px 0 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text-paragraph {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}